.addItem-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 600px;
    margin:0px auto;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rosybrown;
    margin-top: 50px;
    height: auto;
    margin-bottom: 80px;
    background-color: #f0eade;
}

.addItem-title {
  font-size: 35px;
  color: #2a414f;
  font-weight: 400;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: auto;
}

.input-group input {
  width: 415px;
  height: 40px;
  border: 1px solid #86bee0;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  justify-content: center;
}

.add-newBike-btn {
  width: 130px;
  margin-top: 20px;
  background-color: rgb(232, 165, 117);
  border: none;
  border-radius: 20px;
}

.add-newBike-btn p{
    font-size: 16px;
}
.add-newBike-btn:hover {
  background-color: rgb(204, 138, 39);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .addItem-container {
    width: auto;
    height: auto;
    margin: 50px;
    border: 2px solid rosybrown;
    margin-bottom: 80px;
  }
  .input-group {
    font-size: auto;
  }

  .add-newBike-btn {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
  }
  
  .add-newBike-btn p{
      font-size: auto;
      margin: 0px;
  }  
  .addItem-title {
    font-size: auto;
    color: #2a414f;
    font-weight: auto;
  }
  .input-group {
    margin-bottom: auto;
  }
  .input-group input {
    width: auto;
    height: auto;
    border: 1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: auto;
    padding-left: auto;
  }
}
