.bikes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    justify-content: center;
    justify-items: center;
    margin: 30px;
    box-shadow: violet;
    width: auto;
    margin-top:50px;
  }
   
  @media screen and (max-width: 600px) {
    .bikes-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      width: auto;
    }
    .header{
      width: auto;
  }
  }
