nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:14px;
    background-color:  rgb(19, 129, 207);
    height: 80px;
    width: 100%;
    
   }

   .btn-signOut{
        width: 40px;
        height: 40px;
        background-color:rgb(196, 241, 239);
        border-radius: 5px;
        border: none;
        font-size: 15px;
        cursor: pointer;
    
   }

   @media only screen and (min-width: 600px) {
    .header nav{
       width: 100%;
       justify-items: center;
    }
    .header{
        width: 100%;
        margin-left: 0%;
    }
    
}
