.manage-btn{
    background: #4ec7299c;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.manage-btn p{
    font-weight: bold;
    font-size: large;
}

.manage-btn:hover{
    background-color: orange;
}

@media screen and (max-width:600px){
    .service-container{
        width: 100%;
        margin: 0%;
    }
  }



