.bike-description{
    display: grid;
    grid-template-columns: 2fr 2.5fr;
    align-items: center;
    border: 2px solid red;
}
.btn-class{
    background: #f15d38;
    border: none;
    border-radius: 4px;

}
.btn-class p{
    margin:10px 15px 10px 15px;
}
